.about {
  max-width: 60rem;
  margin: 0px auto 120px auto;
  min-height: 50vh;
}
.about img {
  width: 100%;
}
.about p {
  font-size: 2em;
}
.about a {
  font-size: 1.5em;
  color: var(--color-decorated);
}

@media screen and (max-height: 600px) {
  .container {
    margin-bottom: 40px;
  }
}

@media(max-width:414px){
  .about{
    font-size:12px;
  }
}
