.header {
  --nav-size: 50px;
}
.header {
  height: 80px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 2px 8px;
  font-family: monospace, "Courier New", "Courier New";
  min-width: 540px;
}
.nav {
  max-width: 60rem;
  line-height: 40px;
  height: 40px;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.group {
  display: flex;
}
.navButton {
  font-size: 1.6em;
  /* font-size: 24px; */
  display: inline-block;
  line-height: var(--nav-size);
  height: var(--nav-size);
}
.home {
  margin-right: 20px;
  vertical-align: top;
}
.category {

}
.searchIcon {
  margin-right: 20px;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
}
.search {
  height: var(--nav-size);
  line-height: var(--nav-size);
  margin-right: 20px;
  border: 1px solid var(--color-solid);
  border-radius: 10px;
  width: 240px;
  box-sizing: border-box;
}
.search:focus-within {
  outline: -webkit-focus-ring-color auto 5px;

}
.search input {
  font-size: 1.4em;
  height: 40px;
  width: 180px;
  border: none;
  margin-left: 10px;
}
.search input:focus {
  border:none;
  outline: none;
}
.logo {
  height: var(--nav-size);
  margin-right: 20px;
}
.dropDownContainer {
  display: inline-block;
  font-size: 1.6em;
  height: 50px;
  line-height: 50px;
}
.header .signIn {
  float: right;
  color: var(--color-decorated);
  font-size: 1.2em;
}
.header .userInfo {
  font-family: auto;
  float: right;
  font-size: 1.2em;
  cursor: pointer;
  color: var(--color-decorated)
}
/* .userInfo:focus-within {
  outline: -webkit-focus-ring-color auto 5px;
} */
.signOut {
  height: auto;
  line-height: normal;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.userInfo:hover .signOut,
.signOut:focus {
  opacity: 1;
}
.showPopup {
  filter: var(--filter-blur);
}
@media screen and (max-width: 1000px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 640px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    justify-content: center;
  }
}
@media screen and (max-width: 540px) {
  .header {
    font-size: 0.6rem;
    min-width: 0px;
  }
}
@media screen and (max-width: 510px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .search {
    width: 160px;
  }
  .search input {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    width: fit-content;
    margin: 0px 0px 0px 20px;
  }
  .home {
    margin-right: 10px;
    vertical-align: top;
  }
}
