.header {
  --nav-size: 50px;
}
.header {
  height: 80px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0px 2px 8px;
  font-family: monospace, "Courier New", "Courier New";
  min-width: 540px;
}
.nav {
  max-width: 60rem;
  line-height: 40px;
  height: 40px;
  margin: auto;
  text-align: left;
}
.navButton {
  font-size: 24px;
  display: inline-block;
  line-height: var(--nav-size);
  height: var(--nav-size);
}
.home {
  margin-right: 20px;
  vertical-align: top;
}
.category {

}
.searchIcon {
  margin-right: 20px;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  margin-top: 5px;
}
.search {
  display: inline-block;
  height: var(--nav-size);
  line-height: var(--nav-size);
  float: right;
  margin-right: 20px;
  position: relative;
  border: 1px solid var(--color-solid);
  border-radius: 10px;
  width: 240px;
  box-sizing: border-box;
}
.search:focus-within {
  outline: -webkit-focus-ring-color auto 5px;

}
.search input {
  font-size: 20px;
  height: 40px;
  width: 180px;
  border: none;
  margin-left: 10px;
}
.search input {
  font-size: 20px;
  height: 40px;
  width: 180px;
  border: none;
  margin-left: 10px;
}
.search input:focus {
  border:none;
  outline: none;
}
.logo {
  float: right;
  /* width: var(--nav-size); */
  height: var(--nav-size);
}
.dropDownContainer {
  display: inline-block;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
}
.header .signIn {
  float: right;
  color: var(--color-decorated);
  font-size: smaller;
}
.header .userInfo {
  font-family: auto;
  float: right;
  font-size: smaller;
  cursor: pointer;
  color: var(--color-decorated)
}
/* .userInfo:focus-within {
  outline: -webkit-focus-ring-color auto 5px;
} */
.signOut {
  height: auto;
  line-height: normal;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.userInfo:hover .signOut,
.signOut:focus {
  opacity: 1;
}
