.login {
  max-width: 60rem;
  margin: 0px auto 120px auto;
  min-height: 50vh;
}
.container {
  width: 300px;
  margin: 120px auto 0px auto;
}

.signin {
  cursor: pointer;
  color: var(--color-decorated);
}

.login .createButton {
  font-size: 1rem;
  width: 100%;
  padding: 0px 10px;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
}
.error {
  height: 40px;
  line-height: 40px;
  color: var(--color-striking);
}
