/* Css templates */
:root {
  --color-surface: white;
  --color-solid: #232323;
  --color-decorated: rgb(247, 124, 9);
  --color-minor: #727272;
  --color-striking: #f05000;
  --color-opacity-black: rgba(0, 0, 0, 0.4);
}

/* .main-text-color {
  color: var(--color-solid);
}
.minior-text-color {
  color: var(--color-minor);
}
.striking-color {
  color: var(--color-striking);
}
.decorated-color {
  color: var(--color-decorated);
}
.text-color-with-colorful-background {
  color: var(--color-surface);
}
.background-color {
  background-color: var(--color-surface);
}
.button-background-color {
  background-color: var(--color-decorated);
} */
.clickable {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-solid);
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}
/* .clickable.selected,
.clickable:focus {
  color: var(--color-solid);
} */
.clickable::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-decorated);
  transition: width 0.3s;
}
.clickable:hover::after {
  width: 100%;
}
.baseButton {
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
  border-radius: 10px;
  background-color: var(--color-surface);
  color: var(--color-decorated);
  border: 2px solid var(--color-decorated)
}
.baseButton.disabled {
  cursor: default;
  opacity: 0.5;
}
.baseButton:not(.disabled):hover {
  background-color: var(--color-decorated);
  color: var(--color-surface);
  border-color: var(--color-surface);
}

body {
  margin: 0px;
  color: var(--color-solid);
}
h1 {
  font-size: 2em;
}
