.footer {
  width: 100%;
}
.container {
  max-width: 60rem;
  text-align: center;
  margin: auto;
  list-style: none;
}
.container li {
  display: inline-block;
}
.footerBtn {
  font-size: 18px;
  margin-right: 20px;
  height: 40px;
  line-height: 40px;
}
