.container {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.container .item {
  display: inline-block;
  color: var(--color-decorated);
}
.container .nonClickableItem {
  display: inline-block;
  color: var(--color-solid);
  cursor: default;
}
.sign {
  display: inline-block;
  margin: 0px 10px;
}
