.container {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.container .item {
  display: inline-block;
  color: var(--color-decorated);
}
.container .nonClickableItem {
  display: inline-block;
  color: var(--color-solid);
  cursor: default;
}
.sign {
  display: inline-block;
  margin: 0px 10px;
}

@media screen and (min-width: 414px) and (max-width: 540px) {
  .container {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 540px) and (max-width: 640px) {
  .container {
    font-size: 1rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 720px) {
  .container {
    font-size: 1.2rem;
  }
}
